:root {
  --gradient: linear-gradient(
    45deg,
    #d4bee4,
    #cfbcf1,
    #cfbee4,
    #b89fd7,
    #c6bad7,
    #e5dcf6
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
