:root {
  --gradient: linear-gradient(
    45deg,
    /*
    #cbdbe1,
    #a6b7dd,
    #5ebfe0,
    #a4cdd1,
    #0097d0
    */ #f3fdfe,
    #fdf9f3
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
